/* HEADER */

.main-header {
  width: 100%;
  height: 15.5rem;
  position: absolute;
  display: flex;
  padding-left: 18rem;
  padding-right: 18rem;
  gap: 2.6rem;
  justify-content: space-between;
  background-image: url("../img/bg.png");
}

/* LOGO AND NAVIGATION */

.logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo-text {
  font-family: "Yeseva One", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.6rem;
  opacity: 90%;
  font-weight: 400;
}

.nav {
  display: flex;
  gap: 2.6rem;
  align-items: stretch;
  height: 100%;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  position: relative;
  font-size: 2.2rem;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.nav-link.is-active {
  cursor: default;
}

.nav-link:hover:before,
.nav-link.is-active:before {
  opacity: 70%;
}

.nav-link:before {
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-top: 4px solid #fff;
  transition: opacity 0.5s;
  opacity: 0;
}

/* SOCIAL-LINKS */

.social-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
}

.social-link:link,
.social-link:visited {
  color: #dab33e;
}

.social-link:hover {
  opacity: 70%;
  transition: opacity 0.3s;
}

.social-icon {
  font-size: 2rem;
}

/* SECTION-PROMO */

.section-promo {
  background: url(../img/bg-promo.png);
  display: flex;
  text-align: center;
  padding-top: 12rem;
  height: 75rem;
  flex-direction: column;
  gap: 2.8rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.slogan {
  font-family: "Yeseva One", sans-serif;
  text-transform: lowercase;
  font-size: 9rem;
  line-height: 12rem;
  color: #ffffff;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.decoration {
  width: 23.2rem;
}

/* BUTTONS */

.buttons {
  display: flex;
  gap: 2.8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  transition: all 0.5s;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  height: 5.6rem;
}

.btn--full:link,
.btn--full:visited {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.btn--full:hover,
.btn--full:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #f5f5f5;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: rgba(255, 255, 255, 0.2);
  color: #f5f5f5;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f5f5f5;
}
